@tailwind base;
@tailwind components;
@tailwind utilities;

[data-popover-target="card"]::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 1rem;
  border-width: 0.75rem;
  border-color: white transparent transparent transparent;
}
